<!DOCTYPE html>
<html>
<head>
    <title>Đặt lại mật khẩu</title>
</head>
<body>
    <p>Chào bạn,</p>
    <p>Bạn nhận được email này vì bạn (hoặc ai đó) đã yêu cầu đặt lại mật khẩu cho tài khoản tại {{ site_name }}.</p>
    
    <p>Vui lòng sao chép và dán đường dẫn bên dưới vào trình duyệt để đặt lại mật khẩu:</p>
    
    <p>
        https://eduriot.fit/auth/reset-password/{{ uid }}/{{ token }}/
    </p>

    <p>Nếu bạn không yêu cầu điều này, vui lòng bỏ qua email.</p>
    <p>Trân trọng,<br>Đội ngũ {{ site_name }}</p>
</body>
</html>